annoy==1.17.0
click==7.1.2
Flask==1.1.2
Flask-Caching==1.10.1
Flask-SQLAlchemy==2.5.1
numpy==1.20.2
pandas==1.2.4
plotly==4.14.3
PyYAML==5.4.1
requests==2.25.1
scikit-learn==0.24.2
SQLAlchemy==1.4.12
tqdm==4.60.0
umap-learn==0.5.1
