annoy==1.17.0
click==8.1.7
Flask==3.0.2
Flask-Caching==2.1.0
Flask-SQLAlchemy==3.0.5
numpy==1.26.4
pandas==2.2.1
plotly==5.1.0
PyYAML==6.0.3
requests==2.32.3
scikit-learn==1.4.2
SQLAlchemy==1.4.52
tqdm==4.62.0
umap-learn==0.5.1
werkzeug==3.0.2
