html {
    height: 100%;
}

body {
    padding-top: 80px;
    height: 100%;
}

.plot {
    height: 650px;
}

.btn-explore {
    height: 100px;
    font-size: 48px;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}
