<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>{{title}}</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">{{title}}</a>
        </nav>

        <div class="container">
            <div class="row">
                <form id="controls" class="col-2">
                    <div class="form-group form-row">
                        <div class="btn-group-vertical btn-group-toggle col-12" data-toggle="buttons">
                            <label class="btn btn-danger active">
                                <input type="radio" name="data-type" value="averages">Averages
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="data-type" value="segments">Segments
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="data-type" value="trajectories" checked>Trajectories
                            </label>
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <div class="btn-group-vertical btn-group-toggle col-12" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="embeddings-type" value="penultimate" checked>Penultimate
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="embeddings-type" value="taggrams">Taggrams
                            </label>
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <label for="n-tracks" class="input-group-text">N</label>
                            </div>
                            <input type="text" class="form-control" id="n-tracks" value="10">
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <div class="btn-group-vertical btn-group-toggle col-12" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="projection-type" value="pca" checked>PCA
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="projection-type" value="tsne">T-SNE
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="projection-type" id="projection-custom" value="custom">Custom
                            </label>
                        </div>
                    </div>

                    <div class="form-group form-row" id="projection-controls" hidden>
                        <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="dim-x" class="input-group-text">X</label>
                            </div>
                            <input type="text" class="form-control" id="dim-x" value="0">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="dim-y" class="input-group-text">Y</label>
                            </div>
                            <input type="text" class="form-control" id="dim-y" value="1">
                        </div>
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <button id="btn-refresh" type="submit" class="btn btn-primary">
                            Reload
                            <span id="btn-refresh-spinner" class="spinner-border spinner-border-sm" role="status"
                                  aria-hidden="true" style="display: none;"></span>
                        </button>
                    </div>
                </form>

                <div id="plot" class="col-10 plot justify-content-center"></div>
            </div>

            <div class="row justify-content-center">
                <audio id="audio" controls>
                    <source id="audio-source" type="audio/mpeg">
                </audio>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-1.51.2.min.js"></script>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>