<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>{{title}}</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">{{title}}</a>
        </nav>

        <div class="container">
            <div class="row">
                <form id="controls" class="col-2">
                    <div class="form-group form-row">
                        <div class="btn-group-vertical btn-group-toggle col-12" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="embeddings-type" value="penultimate" checked>Penultimate
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="embeddings-type" value="taggrams">Taggrams
                            </label>
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <label for="tracks-n" class="input-group-text">N</label>
                            </div>
                            <input type="text" class="form-control" id="n-tracks" value="10">
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <div class="btn-group-vertical btn-group-toggle col-12" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="projection-type" value="pca" checked>PCA
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="projection-type" value="tsne">T-SNE
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="projection-type" id="projection-custom" value="custom">Custom
                            </label>
                        </div>
                    </div>

                    <div class="form-group form-row" id="projection-controls" hidden>
                        <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="dim-x" class="input-group-text">X</label>
                            </div>
                            <input type="text" class="form-control" id="dim-x" value="0">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="dim-y" class="input-group-text">Y</label>
                            </div>
                            <input type="text" class="form-control" id="dim-y" value="1">
                        </div>
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <button id="btn-refresh" type="submit" class="btn btn-primary">Reload</button>
                    </div>
                </form>

                <div id="plot" class="col-10 plot justify-content-center"></div>
            </div>

            <div class="row justify-content-center">
                <audio id="audio" controls>
                    <source id="audio-source" type="audio/mpeg">
                </audio>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-1.51.2.min.js"></script>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>