{% extends 'base.html' %}
{% set title = 'Compare' %}
{% set page = 'compare' %}

{% macro form() %}
    <div class="form-row justify-content-center align-items-end">
        <div class="col-auto form-group">
            <label class="d-block text-center" for="selector-architecture">Architecture</label>
            <select class="selectpicker form-control" id="selector-architecture" name="architecture">
                {% for key, value in data['architectures'].items() %}
                    <option value="{{ key }}">{{ value['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-auto form-group">
            <label class="d-block text-center" for="selector-dataset">Dataset</label>
            <select class="selectpicker form-control" id="selector-dataset" name="dataset">
                {% for key, value in data['datasets'].items() %}
                    <option value="{{ key }}">{{ value['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-auto form-group">
            <label class="d-block text-center" for="selector-layer">Layer</label>
            <select class="selectpicker form-control" id="selector-layer" name="layer">
                {% for key, value in data['layers'].items() %}
                    <option value="{{ key }}">{{ value['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-auto form-group">
            <label class="d-block text-center" for="selector-projection">Projection</label>
            <select class="selectpicker form-control" id="selector-projection" name="projection">
                {% for key, value in data['projections'].items() if key != 'original' %}
                    <option value="{{ key }}">{{ value['name'] }}</option>
                {% endfor %}
{#                <option value="original">Original</option>#}
            </select>
        </div>

{#        <div class="col-auto form-group" style="display: none;">#}
{#            <label class="d-block text-center" for="selector-dimension-x">X</label>#}
{#            <select class="selectpicker form-control" id="selector-dimension-x" name="dimension-x"#}
{#                    data-live-search="true">#}
{#            </select>#}
{#        </div>#}
{##}
{#        <div class="col-auto form-group" style="display: none;">#}
{#            <label class="d-block text-center" for="selector-dimension-y">Y</label>#}
{#            <select class="selectpicker form-control" id="selector-dimension-y" name="dimension-y"#}
{#                    data-live-search="true">#}
{#            </select>#}
{#        </div>#}

        <div class="col-auto form-group">
            <button class="btn btn-success" type="submit" id="btn-refresh"><i class="fas fa-sync"></i></button>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-2">
                <form id="form-data" class="">
                    <div class="form-group">
                        <label for="selector-tags">Tags ({{ tags | length }})</label>
                        <select class="selectpicker form-control" id="selector-tags" multiple name="tags"
                                data-live-search="true" data-actions-box="true">
                            {% for tag in tags %}
                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selector-artists">Artists ({{ artists | length }})</label>
                        <select class="selectpicker form-control" id="selector-artists" multiple name="artists"
                                data-live-search="true" data-actions-box="true">
                            {% for artist in artists %}
                                <option value="{{ artist.id }}">{{ artist.name | safe }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="range-sparser">Reduction</label>
                        <input type="range" class="form-control-range" id="range-sparser" name="sparse" min="1" max="30"
                               value="1" oninput="this.nextElementSibling.value = this.value">
                        <output for="range-sparser" id="output-sparser">1</output>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="check-webgl" name="check-webgl">
                        <label class="form-check-label" for="check-webgl">Use WebGL</label>
                    </div>
                    <div class="form-group form-row">
                        <button class="btn btn-success" type="submit"><i class="fas fa-sync"></i></button>
                    </div>
                </form>

                <form id="form-highlight">
                    <label for="highlight-entity">Highlight</label>
                    <div class="form-group form-row">
                        <select class="col-6 selectpicker form-control" id="highlight-entity">
                            <option value="">None</option>
                            <option value="tag">Tag</option>
                            <option value="artist">Artist</option>
                            <option value="album">Album</option>
                            <option value="track">Track</option>
                        </select>
                        <select class="col-6 selectpicker form-control" id="highlight-items" name="highlight-items"
                                multiple data-live-search="true" data-actions-box="true">
                        </select>
                    </div>

                    <div class="form-row">Play audio on</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="play" id="play-click" value="click" checked>
                        <label class="form-check-label" for="play-click">Click</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="play" id="play-hover" value="hover">
                        <label class="form-check-label" for="play-hover">Hover</label>
                    </div>

                    <div class="form-group form-row">
                        <button class="btn btn-success" type="submit"><i class="fas fa-sync"></i></button>
                    </div>
                </form>

                <div>
                    <audio class="w-100" id="audio" controls></audio>
                    <div class="text-center" id="track-info"></div>
                </div>

                <form id="form-playlist">
                    <div class="form-group form-row justify-content-center mt-4">
                        <button class="btn btn-primary" id="btn-playlist">Create playlist</button>
                    </div>
                </form>
            </div>
            <div class="col-5">
                <form id="form-left">
                    {{ form() }}
                </form>
                <div id="plot-left" class="plot"></div>
            </div>
            <div class="col-5">
                <form id="form-right">
                    {{ form() }}
                </form>
                <div id="plot-right" class="plot"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/commons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/compare.js') }}"></script>
{% endblock %}
