{% extends 'base.html' %}
{% set title = 'Explore' %}
{% set page = 'explore' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for audio_url in audio_urls %}
            <div class="col">
                <div>
                    <audio id="audio" controls style="display: none">
                        <source id="audio-source" type="audio/mpeg" src="{{ audio_url }}">
                    </audio>

                    <div class="btn-group-vertical btn-block">
                        <button type="button" class="btn btn-primary btn-explore"><i class="fas fa-music"></i></button>
                        <button type="button" class="btn btn-success btn-explore"><i class="fas fa-heart"></i></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
