{% extends 'base.html' %}
{% set title = 'Similarity' %}
{% set page = 'similarity' %}
{% block content %}
<div class="container">
    <audio id="audio" controls style="display: none"></audio>
    <div class="row justify-content-center">
        <h4>Which music segment is the most similar to the reference?</h4>
    </div>
    <div class="row justify-content-center">
        <div>
            <button type="button" class="btn btn-secondary" id="segment-reference" value="{{ segments['reference'].full_id }}">
                <i class="fas fa-2x fa-play"></i></button> :
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% for segment in segments['choices'] %}
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="segment-choice" value="{{ segment.full_id }}"><i class="fas fa-2x fa-play"></i>
                    </label>
                {% endfor %}
                <label class="btn btn-outline-primary">
                    <input type="radio" name="segment-choice" value=""><i class="fas fa-2x fa-ban"></i>
                </label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-success mt-2" id="submit" disabled>Submit</button>
    </div>
    <div class="row text-center my-3" id="results" style="display: none;">
        <div class="alert alert-success col-auto" id="alert-match" style="display: none">
            <i class="fas fa-check"></i> Computer thinks the same! </div>
        <div class="alert alert-warning col-auto" id="alert-mismatch" style="display: none">
            <i class="fas fa-times"></i> Computer thinks it was #<span id="closest-idx">{{ closest_idx }}</span>!</div>
        <a href="" class="btn btn-primary">Another! <i class="fas fa-sync-alt"></i></a>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#details" aria-expanded="false"
                aria-controls="details">More details <i class="fas fa-code"></i></button>
        <div class="collapse my-3" id="details">
            Model: <span id="model">{{ segments['model'] }}</span>.
            Distances: {% for distance in segments['distances'] %} {{ distance | round(3) }} {% endfor %}.
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/commons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/similarity.js') }}"></script>
{% endblock %}
